__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

.venv/
.env
env/
venv/

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
.cursorignore
.cursorindexingignore

data/processed/*.pt

*.log
outputs/